In [7]:
import pandas as pd

file_to_load = "HeroesOfPymoli/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [8]:
players_df = pd.DataFrame(purchase_data["SN"].unique())
total_players = pd.DataFrame(players_df.count())

total_players.columns = ["total_players"]
total_players

   total_players
0            576

In [9]:
unique_items = len(purchase_data["Item ID"].unique())

average_price = purchase_data["Price"].mean()

number_of_purchases = purchase_data["Price"].count()

total_revenue = purchase_data["Price"].sum()

summary_df = pd.DataFrame([{"Number of Unique Items": unique_items
                          , "Average Price": average_price
                          , "Number of Purchases": number_of_purchases
                          , "Total Revenue" : total_revenue}])

summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [11]:
clean_gender_data_df = purchase_data[["SN", "Gender"]].drop_duplicates()

gender_df = clean_gender_data_df.groupby(["Gender"])
gender_count_df = gender_df.count()
gender_count_df.rename(columns={"SN": "Total Count"}, inplace=True)

total_number_players = total_players.iloc[0,0]
gender_count_df["Percentage of Players"] =  (gender_count_df["Total Count"] / total_number_players * 100).round(2).map("{:,.2f}%".format)

gender_count_df.index.name 

sorted_df = gender_count_df.sort_values("Total Count", ascending=False)
sorted_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [ ]:
clean_gender_purchase_data_df = purchase_data[['Gender', 'Price']]

gender_purchase_summary_df = clean_gender_purchase_data_df.groupby('Gender').count()